body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.tittleMain{

}

.cardsAll{
    background-color: white;
    width: 500px;
    margin: 0px auto; /*Centra en la pagina*/
    border: 1px solid gray;
    box-shadow: 0px 0px 20px black;
    padding: 20px;
    border-radius: 5px;
    
}

.cardsAll .cardModel{
    background-color: lightblue;
    width: 450px;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.cardsAll .tittle{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    margin: 0%
}

/*la estructura de una ruta css se les conoce de la siguiente manera
selector de contexto = ".cardsAll .cardModel" 
selector clave (key selector) = a
*/
.cardsAll .cardModel a{
    font-weight: bold;
    color: blue;
    

}